<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 500px;
    border-left: 10px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>Hotel California</h1>
</header>

<nav>
  <p>Hotel California is located in the heart of the historic center of Los Angeles in an extremely characteristic, quite and lively area within short walk distance to all sites.</p>
</nav>

<article>
  <h1>Are you a guest?</h1>
  <p><h5 style="text-align: left"><a href="/reservation">Reservation</a></h5></p>
  <h1>Are you a hotel manager?</h1>
  <p><h5 style="text-align: left"><a href="/login">Set Rooms</a></h5></p>
</article>

<footer>Thank you for giving me an opportunity to presesnt myself through this coding challenge</footer>

</div>

</body>
</html>
